.App {
  text-align: center;
  color : #6809e1;
  transition: all 1s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*-----------------------------*/

.header{
  align-items: center;
  align-content: center;
  
  /* border-bottom: 1px solid #fff; */
  display: flex;
  justify-content: space-around;
  padding: .5em 0 1em 0;
  height: 70px;
}

.logo button {
  outline: none;
  border: none;
  background-color: white;
  transition: all 1s ease;
  cursor: pointer;
}

.dark .logo button {
  background-color: #000;
  transition: all 1s ease;
}

.btn-modo {
  width: 148px;
  height: 43px;
  border-radius: 61px;
  color: #6809e1;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #6809e1;
  background-color: white;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.buscador{
  align-items: center;
  display: flex;
  font-size: 2em;
  flex-direction: column;/**/
  /* height: 250px; */
  justify-content: center;
  padding: 0 0 1em 0;
}

.buscador-form{
  display: flex;
  width: 50%;
  /*align-items: center;
  flex-direction: row;
  justify-content: center;/**/
}

.autocomplete p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.autocomplete {
  /* font-size: .5em; */
  width: 35%;
  position: relative;
  left: -50px; 
  cursor: pointer;
  transition: all 1s ease;
}

.autocomplete-item {
  font-size: 20px;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 1em;
  border: 1px solid #121212;
  position: relative;
}
.autocomplete-item:hover {
  background-color: #3f3f3f;
  color: white;
}

.buscador-form input {
  width: 100%;
  height: 20px;
  padding: 15px;
  font-size: 16px;
  border-radius: 61px;
  border: 1px solid #6809e1;
}/**/

.btn-search {
  background-color: #572ee5;
  position: relative;
  border-radius: 0 61px 61px 0;
  height: 52px;
  width: 82px;
  right: 56px;
  /* top: 2px; */
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}


.resultados{
  /* background-color: #d8d6d6; */
  /*margin: 10px 0 10px 0;/**/
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;/**/
  font-size: 1.3em;
  height: 100%;
  min-height: 100px;
}

.git-card{
  margin: 2em;/**/
  /*padding: 1em;/**/
}

.git-card img {
  width: 250px;
  height: 250px;
}

.dark{
  background-color: black;
  color: #fff;
  transition: all 1s ease;
  
} 



